*, body {
	margin: 0;
	padding: 0;
}

pre {
	font-family: "Courier";
	font-size: 12px;
}

.pseudo-btn {
	display: inline-block;
	cursor: default;
	background: #f2f2f2;
	padding: 4px;
	border: 1px solid #ccc;
}

.message {
	color: red;
}

nav {
	background: #169c9c;
	height: 80px;
}

nav h1 {
	display: inline-block;
	padding: 0 20px;
	color: #ffffff;
}

nav a {
	font-size: 14px;
	background: #169c9c;
	color: #ffffff;
	line-height: 80px;
	padding: 0 10px;
	text-decoration: none;
	display: inline-block;
}

@media (max-width: 960px) {
	nav a {
		font-size: 12px;
	}
}
@media (max-width: 890px) {
	nav h1 {
		font-size: 16px;
	}
}

nav a.selected,
nav a:hover {
	background: #0b7979;
}

div[ng-view] {
	/*padding: 20px 10px;*/
}

.acs-test {
	font-size: 16px;
	text-align: center;
	margin: 0 40px;
}

.acs-test img {
	margin: 0 auto;
}

.f-heading {
	font-size: 2em;
	font-weight: bold;
	margin: 20px 0 20px 0;
}

.acs-test p {
	text-align: justify;
}

.acs-test form {
	margin: 30px auto;
	width: 400px;
	text-align: left;
}

.acs-test form h1 {
	margin-bottom: 20px;
}

.acs-test form input {
	margin-left: 40px;
}

.info {
	margin-top: 20px;
	text-align: center;
	background: #f2f2f2;
}

.info a {
	color: #a3a3a3;
}

.ang-img {
	margin-top: 40px;
	height: 120px;
	background: url("https://angularjs.org/img/AngularJS-large.png") no-repeat center;
}

.fcs-btn {
	padding: 10px;
}

.fcs-btn:focus {
	border: 1px solid blue;
}

body {
	font-family: 'Open Sans', serif;
}

.ng-ar {
	padding: 20px 10px;
	background: #f2f2f2;
}

h1 {
	text-align: center;
}

pre {
	font-family: "Courier";
	font-size: 12px;
}

.pseudo-btn {
	display: inline-block;
	cursor: default;
	background: #f2f2f2;
	padding: 4px;
	border: 1px solid #ccc;
}

.message {
	color: red;
}

.item {
	position: relative;
	margin: 20px;
	padding-top: 10px;
	background: #ffffff;
	border: 0px;
	box-shadow: 1px 1px 1px #ccc
}

.item h2 {
	position: absolute;
	top: 0;
	right: 10px;
	color: #cccccc;
}

.item p,
.item input,
.item textarea,
.item label,
.item div[ng-message] {
	margin: 0;
	margin-left: 10px;
}

.item div[ng-click],
.item div[ng-dblclick] {
	margin: 10px
}

.item input:last-of-type,
.item textarea:last-of-type {
	margin-bottom: 10px;
}

.item pre {
	border-top: 1px solid #ccc;
	padding: 10px;
	margin: 0;
	color: #717171;
}

h2 {
	margin-left: 20px;
}

.live-region {
	text-align: center;
	width: 300px;
	margin: auto;
}

.live-region button {
	padding: 20px;
}

/*modal*/
.fcs-btn {
	margin: 10% auto;
	display: block;
	background: white;
	border-color: #cccccc;
	color: #000000;
	padding: 10px 20px;
	border-radius: 4px;
}

.modal-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.17);
}

.modal {
	z-index: 999;
	background: #ffffff;
	width: 40%;
	height: 200px;
	margin: 10% auto;
	position: relative;
}

.modal-header .close {
	position: absolute;
	top: 6px;
	right: 12px;
	font-size: 22px;
	background: none;
	border: 0;
}

.modal-title {
	text-align: center;
	line-height: 40px;
}

.modal-body {
	padding: 20px;
}

.modal-footer {
	position: absolute;
	bottom: 0;
	text-align: right;
	left: 0;
	right: 0;
	padding: 10px;
}

.modal-footer button {
	padding: 6px;
}

/*SEMANTIC*/

.semantic-example div[role="heading"] {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.semantic-example my-awesome-checkbox {
	display: block;
}

.semantic-example > div {
	padding-bottom: 20px;
}

.semantic-example div[role="button"] {
	display: inline-block;
	background: #fff;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 4px;
	cursor: pointer;
}

.semantic-example article {
	border-top: 1px solid #ccc;
	padding-top: 20px;
}

/*TACOS*/
.tacos li {
	background: #ffffff;
	padding: 6px 10px;
	border-bottom: 1px solid #cccccc;
}

.tacos li {
	outline: none;
}

.tacos li:hover,
.tacos li:focus {
	background: #f2f2f2;
	padding-left: 20px;
	cursor: pointer;
}

.tacos li.selected {
	border-left: 6px solid #38bbab;
	color: #38bbab;
}

.tacos {
	border: 1px solid #cccccc;
	max-height: 340px;
	margin-bottom: 20px;
	overflow-y: auto;
}

.order-list {
	margin: 12px;
	display: inline-block;
	width: 30%;
	list-style-type: none;
}

.order-list li {
	background: #f9f9f9;
	padding: 12px;
	font-size: 12px;
}

.order-tacos {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	padding: 10px;
	margin: 10px;
	border: 2px solid #149191;
	font-size: 18px;
	border-radius: 3px;
	background: #169c9c;
	cursor: pointer;
	color: white;
}

.order-tacos:focus,
.order-tacos:hover {
	outline: none;
	background-color: #107474;
	border: 2px solid #107474;
}

.view-example {
	padding: 20px 10px;
}

.btn-group {
	width: 250px;
	margin: 0 auto;
	text-align: center;
}

.btn-group:after {
	display: block;
	clear: both;
	content: "";
}

.btn-group button {
	outline: none;
	float: left;
	padding: 12px;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 0;
}

.btn-group button.selected {
	background: #169c9c;
	color: white;
}

.btn-group button:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: none;
}

.btn-group button:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left: none;
}

.tacos-desc {
	margin: 20px 12px;
}


my-awesome-checkbox {
	cursor: pointer;
	margin: 12px;
	display: inline-block;
}

my-awesome-checkbox:before {
	width: 12px;
	height: 12px;
	border: 1px solid #000;
	content: " ";
	display: inline-block;
	font-size: 2em;
	position: relative;
	top: 2px;
	left: -4px;
}

my-awesome-checkbox.active:before {
	-webkit-animation: spin 1s linear;
	-moz-animation: spin 1s linear;
	animation: spin 1s linear;
	background-color: green;
	border-color: green;
}


@keyframes spin {
	0% {
		background-color: blue;
		border-color: blue;
		border-radius: 2px;
	}
	25% {
		background-color: red;
		border-color: red;
		border-radius: 6px;
	}
	50% {
		background-color: yellow;
		border-color: yellow;
		border-radius: 13px;
	}
	75% {
		background-color: blue;
		border-color: yellow;
		border-radius: 6px;
	}
	100% {
		border-radius: 0px;
		background-color: green;
		border-color: green;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}