<div class="acs-test">
	<img src="https://angular.github.io/protractor/img/protractor-logo-900.png">

	<div role="heading" class="f-heading">Accessibility test with Protractor</div>
	<p>The Web is fundamentally designed to work for all people, whatever their hardware, software,
		language, culture, location, or physical or mental ability. When the Web meets this goal, it
		is accessible to people with a diverse range of hearing, movement, sight, and cognitive
		ability.
		Thus the impact of disability is radically changed on the Web because the Web removes
		barriers to communication and interaction that many people face in the physical world.
		However, when websites, web technologies, or web tools are badly designed, they can create
		barriers that exclude people from using the Web.
		The mission of the Web Accessibility Initiative (WAI) is to lead the Web to its full
		potential to be accessible, enabling people with disabilities to participate equally on the
		Web.</p>

	<form>
		<h1>AngularJS and Accessibility</h1>

		<input type="checkbox"/>
		<label>ngAria for AngularJS 1.3+</label><br/>

		<input type="checkbox"/>
		<label>e2e test including accessibility</label><br/>

		<input type="checkbox"/>
		<label>What is AngularJS?</label><br/>

	</form>

	<div role="img" aria-labelledby="star_id" class="ang-img"></div>
</div>

<div class="info">
	<a href="#">info</a>
</div>
